{% extends 'blog/base.html' %}

{%block subtitle %}Post add{% endblock %}
{% block content %}
<form action="" method="POST">{% csrf_token %}
    <fieldset>
        <legned>Add post</legned>
        <div>
            <label for="">Title</label>
            <input name="input_title" type="text">
        </div>
        <div>
            <label for="">Content</label>
            <textarea name="input_content" id="" cols="30" rows="10"></textarea>
        </div>
        <button>Write Post</button>
    </fieldset>
</form>
{% endblock %}