<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog</title>
</head>
<body>
    <h1>Lim HyunMin's Blog!</h1>
    <h3>Post list</h3>
    {% for post in post_list %}
    <div>
        <h4>{{ post.title }}</h4>
        <p>{{ post.content }}</p>
    </div>
    {% endfor %}
</body>
</html>